#### Criando meu primeiro arquivo do SQLite (db.sqlite3)

In [ ]:
import sqlite3

DB_NAME = "db.sqlite3"

connection = sqlite3.connect(DB_NAME)
cursor = connection.cursor()

# SQL

cursor.close()
connection.close()

#### Criando minha primeira tabela no SQLite3 (DBeaver opcional)

In [ ]:
TABLE_NAME = "customers"

cursor.execute(
    f"CREATE TABLE IF NOT EXISTS {TABLE_NAME}"
    "("
    "id INTEGER PRIMARY KEY AUTOINCREMENT,"
    "name TEXT,"
    "weight REAL"
    ")"
)

connection.commit()

cursor.close()
connection.close()

#### Inserindo valores (INSERT INTO), DELETE sem WHERE e zerando a sqlite_sequence

In [ ]:
import sqlite3

DB_NAME = "db.sqlite3"
TABLE_NAME = "customers"

connection = sqlite3.connect(DB_NAME)
cursor = connection.cursor()

# Cria a tabela
cursor.execute(
    f"CREATE TABLE IF NOT EXISTS {TABLE_NAME}"
    "("
    "id INTEGER PRIMARY KEY AUTOINCREMENT,"
    "name TEXT,"
    "weight REAL"
    ")"
)
connection.commit()

# Registrar valores nas colunas da tabela
cursor.execute(
    f"INSERT INTO {TABLE_NAME} (id, name, weight) "
    "VALUES (NULL, 'Luiz Otávio', 9.9)"
)
connection.commit()


cursor.close()
connection.close()

In [ ]:
import sqlite3

DB_NAME = "db.sqlite3"
TABLE_NAME = "customers"

connection = sqlite3.connect(DB_NAME)
cursor = connection.cursor()

# CUIDADO: fazendo delete sem where
cursor.execute(
    f"DELETE FROM {TABLE_NAME}"
)

cursor.execute(
    f"DELETE FROM sqlite_sequence WHERE name='{TABLE_NAME}'"
)

connection.commit()

# Cria a tabela
cursor.execute(
    f"CREATE TABLE IF NOT EXISTS {TABLE_NAME}"
    "("
    "id INTEGER PRIMARY KEY AUTOINCREMENT,"
    "name TEXT,"
    "weight REAL"
    ")"
)
connection.commit()

# Registrar valores nas colunas da tabela
# CUIDADO: sql injection
cursor.execute(
    f"INSERT INTO {TABLE_NAME} (id, name, weight) "
    "VALUES (NULL, 'Luiz Otávio', 9.9)"
)
connection.commit()


cursor.close()
connection.close()

#### Usando placeholders para maior segurança (bindings) no SQLite

In [ ]:
import sqlite3

DB_NAME = "db.sqlite3"
TABLE_NAME = "customers"

connection = sqlite3.connect(DB_NAME)
cursor = connection.cursor()

# CUIDADO: fazendo delete sem where
cursor.execute(
    f"DELETE FROM {TABLE_NAME}"
)

cursor.execute(
    f"DELETE FROM sqlite_sequence WHERE name='{TABLE_NAME}'"
)

connection.commit()

# Cria a tabela
cursor.execute(
    f"CREATE TABLE IF NOT EXISTS {TABLE_NAME}"
    "("
    "id INTEGER PRIMARY KEY AUTOINCREMENT,"
    "name TEXT,"
    "weight REAL"
    ")"
)
connection.commit()

# Registrar valores nas colunas da tabela
sql = (
    f"INSERT INTO {TABLE_NAME} (name, weight) "
    "VALUES (?, ?)"
)
cursor.execute(sql, ["Joana", 4])
connection.commit()


cursor.close()
connection.close()

#### executemany - Inserindo vários valores com placeholders no SQLite

In [ ]:
# cursor.execute(sql, ["Joana", 4])
# cursor.executemany(sql, [["Joana", 4], ["Luiz", 5]])
cursor.executemany(
    sql,
    (
        ("Joana", 4), ("Luiz", 5)
    )
)
connection.commit()

#### execute e executemany com dicionários e lista de dicionários no SQLite

In [ ]:
# CUIDADO: fazendo delete sem where
cursor.execute(
    f"DELETE FROM {TABLE_NAME}"
)

cursor.execute(
    f"DELETE FROM sqlite_sequence WHERE name='{TABLE_NAME}'"
)

connection.commit()

# Cria a tabela
cursor.execute(
    f"CREATE TABLE IF NOT EXISTS {TABLE_NAME}"
    "("
    "id INTEGER PRIMARY KEY AUTOINCREMENT,"
    "name TEXT,"
    "weight REAL"
    ")"
)
connection.commit()

# Registrar valores nas colunas da tabela
sql = (
    f"INSERT INTO {TABLE_NAME} (name, weight) "
    "VALUES (:nome, :peso)"
)
# cursor.execute(sql, {"nome": "Sem Nome", "peso": 3})
cursor.executemany(sql, (
    {"nome": "Sem Nome1", "peso": 2},
    {"nome": "Sem Nome2", "peso": 5},
    {"nome": "Sem Nome3", "peso": 6},
    {"nome": "Sem Nome4", "peso": 7},
    {"nome": "Sem Nome5", "peso": 39},
    ))
connection.commit()

cursor.close()
connection.close()

#### SELECT do SQL com fetch no SQLite3 do Python

In [ ]:
cursor.execute(f"SELECT * FROM {TABLE_NAME}")

for row in cursor.fetchall():
    _id, name, weight = row
    print(_id, name, weight)

print()

cursor.execute(
    f"SELECT * FROM {TABLE_NAME} "
    "WHERE id = '3'"
)

row = cursor.fetchone()
_id, name, weight = row
print(_id, name, weight)

#### O que é CRUD + DELETE com e sem WHERE no SQLite3 do Python

In [ ]:
# CRUD - Create  Read  Update Delete
# SQL -  INSERT SELECT UPDATE DELETE

# CUIDADO: fazendo delete sem where
cursor.execute(
    f"DELETE FROM {TABLE_NAME}"
)

# DELETE mais cuidadoso
cursor.execute(
    f"DELETE FROM sqlite_sequence WHERE name='{TABLE_NAME}'"
)

connection.commit()

#### DELETE no SQLite do Python

In [ ]:
cursor.execute(
    f"DELETE FROM {TABLE_NAME} "
    "WHERE id = '3'"
)

#### UPDATE no SQLite com Python

In [ ]:
cursor.execute(
    f"UPDATE {TABLE_NAME} "
    "SET name='QUALQUER', weight=67.89 "
    "WHERE id = '2'"
)

#### PyMySQL - um cliente MySQL feito em Python Puro

In [ ]:
# Doc: https://pymysql.readthedocs.io/en/latest/
# Pypy: https://pypi.org/project/pymysql/
# Doc: https://github.com/PyMySQL/PyMySQL

#### Conectando no seu servidor de base de dados MySQL com PyMySQL

In [ ]:
import pymysql

connection = pymysql.connect(
    host="localhost",
    user="usuario",
    password="senha",
    database="base_de_dados",
)

with connection:
    with connection.cursor() as cursor:
        # SQL
        print(cursor)

#### Usando python-dotenv e .env com pymysql.connect

In [ ]:
import os
import dotenv

dotenv.load_dotenv()

connection = pymysql.connect(
    host=os.environ["MYSQL_HOST"],
    user=os.environ["MYSQL_USER"],
    password=os.environ["MYSQL_PASSWORD"],
    database=os.environ["MYSQL_DATABASE"],
)

#### CREATE TABLE para criar tabelas com PRIMARY KEY no PyMySQL

In [ ]:
TABLE_NAME = "customers"

with connection:
    with connection.cursor() as cursor:
        cursor.execute(
            f'CREATE TABLE IF NOT EXISTS {TABLE_NAME} ('
            'id INT NOT NULL AUTO_INCREMENT, '
            'nome VARCHAR(50) NOT NULL, '
            'idade INT NOT NULL, '
            'PRIMARY KEY (id)'
            ') '
        )
        print(cursor)

#### TRUNCATE e INSERT p/ limpar e criar valores na tabela com um ou mais cursores

In [ ]:
TABLE_NAME = "customers"

with connection:
    with connection.cursor() as cursor:
        cursor.execute(
            f'CREATE TABLE IF NOT EXISTS {TABLE_NAME} ('
            'id INT NOT NULL AUTO_INCREMENT, '
            'nome VARCHAR(50) NOT NULL, '
            'idade INT NOT NULL, '
            'PRIMARY KEY (id)'
            ') '
        )
        # CUIDADO: ISSO LIMPA A TABELA
        cursor.execute(f'TRUNCATE TABLE {TABLE_NAME}')
    connection.commit()
    
    with connection.cursor() as cursor:
        result = cursor.execute(
            f'INSERT INTO {TABLE_NAME} '
            '(nome, idade) VALUES ("Luiz", 25) '
        )
        print(result)
    connection.commit()

#### Evite SQL Injection ao usar placeholders para enviar valores para consulta SQL

In [ ]:
with connection:
    with connection.cursor() as cursor:
        sql = (
            f'INSERT INTO {TABLE_NAME} '
            '(nome, idade) VALUES (%s, %s) '
        )
        data = ('Luiz', 18)
        result = cursor.execute(sql, data)
        print(sql, data)
        print(result)
    connection.commit()

#### Inserindo valores usando dicionários ao invés de iteráveis

In [ ]:
with connection:
    with connection.cursor() as cursor:
        sql = (
            f'INSERT INTO {TABLE_NAME} '
            '(nome, idade) VALUES (%(nome)s, %(idade)s) '
        )
        data = {
            "nome": "Le",
            "idade": 27
        }
        result = cursor.execute(sql, data)
        print(sql, data)
        print(result)
    connection.commit()

#### Inserindo vários valores com uma consulta só usando iteráveis ou dicionários

In [ ]:
with connection:
    with connection.cursor() as cursor:
        sql = (
            f'INSERT INTO {TABLE_NAME} '
            '(nome, idade) VALUES (%(nome)s, %(idade)s) '
        )
        data = (
            {"nome": "Sah", "idade": 33, },
            {"nome": "Ju", "idade": 74, },
            {"nome": "Rose", "idade": 53, },
        )
        result = cursor.executemany(sql, data)
        print(sql, data)
        print(result)
    connection.commit()

In [ ]:
with connection:
    with connection.cursor() as cursor:
        sql = (
            f'INSERT INTO {TABLE_NAME} '
            '(nome, idade) VALUES (%s, %s) '
        )
        data = (
            ("Siri", 22),
            ("Helena", 15),
        )
        result = cursor.executemany(sql, data)
        print(sql, data)
        print(result)
    connection.commit()

#### Lendo valores com SELECT, cursor.execute e cursor.fetchall no PyMySQL

In [ ]:
with connection:
    with connection.cursor() as cursor:
        sql = (
            f'SELECT * FROM {TABLE_NAME} '
        )
        cursor.execute(sql)

        data = cursor.fetchall()

        for row in data:
            print(row)

#### Lendo valores com WHERE (mais uma vez, explico cuidados com SQL Injection)

In [ ]:
with connection:
    with connection.cursor() as cursor:
        sql = (
            f'SELECT * FROM {TABLE_NAME} '
            'WHERE id = 8 '
        )
        cursor.execute(sql)

        data = cursor.fetchall()

        for row in data:
            print(row)

#### Apagando valores com DELETE, WHERE e placeholders o PyMySQL

In [ ]:
with connection:
    with connection.cursor() as cursor:
        sql = (
            f'DELETE FROM {TABLE_NAME} '
        )
        cursor.execute(sql)
        connection.commit()

        data = cursor.fetchall()

        for row in data:
            print(row)

In [ ]:
with connection:
    with connection.cursor() as cursor:
        sql = (
            f'DELETE FROM {TABLE_NAME} '
            'WHERE id = 4'
        )
        cursor.execute(sql)
        connection.commit()

        data = cursor.fetchall()

        for row in data:
            print(row)

#### Editando com UPDATE, WHERE e placeholders no PyMySQL

In [ ]:
with connection:
    with connection.cursor() as cursor:
        sql = (
            f'UPDATE {TABLE_NAME} '
            'SET nome=%s, idade=%s '
            'WHERE id = %s'
        )
        cursor.execute(sql, ("Eleonor", 102, 4))
        connection.commit()

        data = cursor.fetchall()

        for row in data:
            print(row)

#### Trocando o cursor para retornar dicionários - pymysql.cursors.DictCursor

In [ ]:
import os
import dotenv
import pymysql
import pymysql.cursors

TABLE_NAME = "customers"

dotenv.load_dotenv()

connection = pymysql.connect(
    host=os.environ["MYSQL_HOST"],
    user=os.environ["MYSQL_USER"],
    password=os.environ["MYSQL_PASSWORD"],
    database=os.environ["MYSQL_DATABASE"],
    cursorclass=pymysql.cursors.DictCursor,
)

with connection:
    with connection.cursor() as cursor:
        sql = (
            f'UPDATE {TABLE_NAME} '
            'SET nome=%s, idade=%s '
            'WHERE id = %s'
        )
        cursor.execute(sql, ("Eleonor", 102, 4))
        cursor.execute(f'SELECT * FROM {TABLE_NAME} ')

        data = cursor.fetchall()

        for row in data:
            print(row)

#### SSCursor, SSDictCursor e scroll para conjuntos de dados muito grandes no PyMySQL

In [ ]:
import os
import dotenv
import pymysql
import pymysql.cursors

TABLE_NAME = "customers"

dotenv.load_dotenv()

connection = pymysql.connect(
    host=os.environ["MYSQL_HOST"],
    user=os.environ["MYSQL_USER"],
    password=os.environ["MYSQL_PASSWORD"],
    database=os.environ["MYSQL_DATABASE"],
    cursorclass=pymysql.cursors.DictCursor,
)

with connection:
    with connection.cursor() as cursor:
        sql = (
            f'UPDATE {TABLE_NAME} '
            'SET nome=%s, idade=%s '
            'WHERE id = %s'
        )
        cursor.execute(sql, ("Eleonor", 102, 4))
        cursor.execute(f'SELECT * FROM {TABLE_NAME} ')

        data = cursor.fetchall()

        for row in data:
            print(row)

In [ ]:
import os
import dotenv
import pymysql
import pymysql.cursors

TABLE_NAME = "customers"

dotenv.load_dotenv()

connection = pymysql.connect(
    host=os.environ["MYSQL_HOST"],
    user=os.environ["MYSQL_USER"],
    password=os.environ["MYSQL_PASSWORD"],
    database=os.environ["MYSQL_DATABASE"],
    cursorclass=pymysql.cursors.SSDictCursor,
)

with connection:
    with connection.cursor() as cursor:
        sql = (
            f'UPDATE {TABLE_NAME} '
            'SET nome=%s, idade=%s '
            'WHERE id = %s'
        )
        cursor.execute(sql, ("Eleonor", 102, 4))
        cursor.execute(f'SELECT * FROM {TABLE_NAME} ')

        data = cursor.fetchall_unbuffered()

        for row in data:
            print(row)

#### rowcount, rownumber e lastrowid para detalhes de consultas executadas

In [ ]:
import os
import dotenv
import pymysql
import pymysql.cursors

TABLE_NAME = "customers"

dotenv.load_dotenv()

connection = pymysql.connect(
    host=os.environ["MYSQL_HOST"],
    user=os.environ["MYSQL_USER"],
    password=os.environ["MYSQL_PASSWORD"],
    database=os.environ["MYSQL_DATABASE"],
    cursorclass=pymysql.cursors.DictCursor,
)

with connection:
    with connection.cursor() as cursor:
        sql = (
            f'UPDATE {TABLE_NAME} '
            'SET nome=%s, idade=%s '
            'WHERE id = %s'
        )
        cursor.execute(sql, ("Eleonor", 102, 4))
        result = cursor.execute(f'SELECT * FROM {TABLE_NAME} ')

        data = cursor.fetchall()

        for row in data:
            print(row)

        cursor.execute(
            f'SELECT id from {TABLE_NAME} ORDER BY id DESC LIMIT 1'
        )
        lastIdFromSelect = cursor.fetchone()
        
        print("resultFromSelect", result)
        print("len(data)", len(data))
        print("rowcount", cursor.rowcount)
        print("lastrowid", cursor.lastrowid)
        print("lastrowid na mão", lastIdFromSelect)
        print("rownumber", cursor.rownumber)